{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
<<<<<<< HEAD
    {{ form_label(registrationForm.email) }}
    <br>
    {{ form_widget(registrationForm.email) }}
    <br><br>
    {{ form_label(registrationForm.plainPassword) }}
    <br>
    {{ form_widget(registrationForm.plainPassword) }}
    <br><br>
    {{ form_label(registrationForm.username) }}
    <br>
    {{ form_widget(registrationForm.username) }}
    <br><br>
    {{ form_label(registrationForm.firstname) }}
    <br>
    {{ form_widget(registrationForm.firstname) }}
    <br><br>
    {{ form_label(registrationForm.surname) }}
    <br>
    {{ form_widget(registrationForm.surname) }}
    <br><br>
    <button class="btn">Register</button>
    <br><br>
    {{ form_errors(registrationForm.email) }}
    {{ form_errors(registrationForm.plainPassword) }}
    {{ form_errors(registrationForm.username) }}
    {{ form_errors(registrationForm.firstname) }}
    {{ form_errors(registrationForm.surname) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
