{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary btn-bg float-right mb-2" href="{{ path('app_categoryAdd') }}">Add category</a>
    {% endif %}
    <table class="table table-hover">
        <thead>
        <tr>
            {% if is_granted('ROLE_ADMIN') %}
                <th>ID</th>
            {% endif %}
            <th>Name</th>
            <th></th>
        </tr>
        </thead>

        {% for category in categories %}

            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ category.id }}</th>
                {% endif %}
                <td><a href="{{ path('index', { 'category' : category.id }) }}">{{ category.name }}</a></td>
                <td class="text-right">
                    {% if app.user and category.name in app.user.subscribedCategories %}
                        <a class="btn btn-secondary btn-sm" role="button" id="unsubscribe"
                            href="{{ path('app_categoryUnsubscribe', { 'id': category.id }) }}">Unsubscribe</a>
                    {% else %}
                        <a class="btn btn-secondary btn-sm" role="button" id="subscribe"
                            href="{{ path('app_categorySubscribe', { 'id': category.id }) }}">Subscribe</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-info btn-sm"
                           href="{{ path('app_categoryEdit', { 'id': category.id }) }}">Edit</a>
                        <a class="btn btn-danger btn-sm js-delete-btn"
                           href="{{ path('app_categoryDelete', { 'id': category.id }) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.js-delete-btn').on('click', function (e) {
                let name = $(this).parent().siblings('td')[0].innerHTML;
                return confirm('Are you sure you would like to delete category: ' + name + '?');
            });
        });
    </script>

{% endblock %}

