<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <header class="navbar navbar-expand-sm navbar-light bg-white sticky-top">
        <a class="navbar-brand" href="{{ path('index') }}">KTU Events</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_categoryList') }}">Categories</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if not app.user %}
                    <li class="nav-item my-1 my-sm-0 mr-sm-2">
                        <a class="btn btn-outline-primary d-flex" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item my-1 my-sm-0">
                        <a class="btn btn-outline-primary d-flex" href="{{ path('app_register') }}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown my-1 my-sm-0">
                        <a class="btn btn-outline-primary d-flex" href="#" data-toggle="dropdown">
                            <i class="material-icons-outlined mr-1">account_circle</i>
                            <span>{{ app.user.firstName }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mt-2 mt-sm-3 mr-sm--1 ">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item d-flex" href="{{ path('app_eventForm', { 'action': 'create' }) }}">
                                    <span class="mr-auto">New event</span>
                                    <i class="material-icons-outlined ml-2">add</i>
                                </a>
                                <a class="dropdown-item d-flex" href="{{ path('app_userList') }}">
                                    <span class="mr-auto">Users list</span>
                                    <i class="material-icons-outlined ml-2">people</i>
                                </a>
                            {% endif %}
                            <a class="dropdown-item d-flex" href="{{ path('app_categoryList') }}">
                                <span class="mr-auto">Event categories</span>
                                <i class="material-icons-outlined ml-2">category</i>
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item d-flex" href="{{ path('app_changePassword') }}">
                                <span class="mr-auto">Change password</span>
                                <i class="material-icons-outlined ml-2">settings</i>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item d-flex" href="{{ path('app_logout') }}">
                                <span class="mr-auto">Logout</span>
                                <i class="material-icons-outlined ml-2">exit_to_app</i>
                            </a>

                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>
{% endblock %}

<div class="container my-5 py-2">
    {% block alerts %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>