{% extends 'base.html.twig' %}

{% block title %}KTU Events{% endblock %}

{% block body %}
    <h1 class="text-center">Events List</h1>

    {% for event in events %}
        <div class="card card-event my-5 mx-auto">
{#            <a href="#" class="stretched-link"></a>#}
            <div class="row no-gutters">
                <div class="{% if event.photo %}col-7{% endif %}">
                    <div class="card-body">
                        <h2 class="card-title">{{ event.title }}</h2>
                        <p class="card-text lead">{{ event.intro }}</p>
                    </div>
                </div>
                {% if event.photo %}
                    <div class="col-5">
                        <img src="{{ asset('uploads/photos/') ~ event.photo }}" class="card-img p-2">
                    </div>
                {% endif %}
            </div>
            <div class="card-footer bg-white text-muted d-flex flex-wrap">
                <div class="d-inline-flex">
                    <i class="material-icons-outlined mr-1">location_on</i>
                    <span class="mr-2">{{ event.location }}</span>
                </div>
                <div class="d-inline-flex">
                    <i class="material-icons-outlined mr-1">access_time</i>
                    <span class="mr-2">{{ event.date | date("Y-m-d H:i") }}</span>
                </div>
                <div class="d-inline-flex">
                    <i class="material-icons-outlined mr-1">monetization_on</i>
                    <span>{% if event.price == 0 %}FREE{% else %}{{ event.price }}&euro;{% endif %}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}