{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Registered users:</h1>
    <table width="100%" border="1px" cellpadding="10px">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
            <tr>
                <td> {{ user.getUsername() }} </td>
                <td> {{ user.getFirstName() }}</td>
                <td> {{ user.getSurname() }}</td>
                <td> {{ user.getEmail() }}</td>
                <td> <a href="{{ path('app_userDelete', { 'id': user.getId }) }}">Delete</a> </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
