{% extends 'base.html.twig' %}
{% block body %}
<h1 class="text-center mb-5">{{ event.title }}</h1>
<div class="row">
    <div class="col-7">
        <p>Category: {{ event.category }}</p>
        <p>Date and time: {{ event.date | date("Y-m-d H:i") }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Price: {{ event.price == 0 ? 'FREE' : (event.price | number_format(2) ~ ' &euro;') | raw}}</p>
        <p class="text-break">{{ event.description }}</p>
    </div>
    <div class="col-5">
        {% if event.photo %}
            <img src="{{ asset('uploads/photos/') ~ event.photo }}" class="img-fluid mb-4">
        {% endif %}
        <iframe class="map" src="https://www.google.com/maps/embed/v1/place?q={{ event.location }}&key=AIzaSyBT1eR-6-WGH7L3FDKme0x3AhjHgPOrY74" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}

