{% extends 'base.html.twig' %}
{% block body %}
<h1 class="text-center mb-5">{{ event.title }}</h1>
<div class="row">
    <div class="col-7">
        <p>Category: {{ event.category }}</p>
        <p>Date and time: {{ event.date | date("Y-m-d H:i") }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Price: {{ event.price == 0 ? 'FREE' : (event.price | number_format(2) ~ ' &euro;') | raw}}</p>
        <p class="text-break">{{ event.description }}</p>
    </div>
    <div class="col-5">
        {% if event.photo %}
            <img src="{{ asset('uploads/photos/') ~ event.photo }}" class="img-fluid mb-4">
        {% endif %}
        <iframe class="map" src="https://www.google.com/maps/embed/v1/place?q={{ event.location }}&key=AIzaSyBT1eR-6-WGH7L3FDKme0x3AhjHgPOrY74" allowfullscreen></iframe>
    </div>
</div>
    <div>
        <h3>Comments: ({{ event.comments | length }})</h3>
        <div class="text-right">
            <a class="btn btn-primary btn-bg mb-2" href="{{ path('app_addComment', { 'slug': event.id }) }}">Add comment</a>
        </div>
        {% for comment in event.comments %}
            <div class="card mb-2">
                <h5 class="card-header">
                    {{ comment.user.firstname }} ({{ comment.user.username }})
                    <small class="text-muted">
                        {{ comment.createdAt | date("Y-m-d H:i", "Europe/Vilnius") }}
                    </small>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-danger btn-sm float-right" href="{{ path('app_deleteComment', { 'commentId': comment.id, 'eventId': event.id }) }}">Delete</a>
                    {% endif %}
                </h5>
                <div class="card-body">
                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

