{% extends 'base.html.twig' %}

{% block title %}{{ action }} Event{% endblock %}

{% block body %}
    <h1 class="text-center">{{ action }} Event</h1>

    {{ form_start(eventForm) }}
    {{ form_widget(eventForm) }}
    {% if photo %}
        <p><input type="checkbox" name="deleteCheckBox"> Delete Photo</p>
        <img src="{{ asset('uploads/photos/' ~ photo) }}" class="w-25 mb-4"><br>
    {% endif %}
    <button class="btn btn-primary">{{ action }} Event</button>
    {{ form_end(eventForm) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>

{% endblock %}