{% extends 'base.html.twig' %}
{% block body %}
<div class="">
    <h1 class="text-center mb-5">{{ event.title }}</h1>
    <div class="row">
        <div class="{% if event.photo %}col-7{% endif %}">
            <p>Category: {{ event.category }}</p>
            <p>Date and time: {{ event.date | date("Y-m-d H:i") }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Price: {{ event.price == 0 ? 'FREE' : (event.price | number_format(2) ~ ' &euro;') | raw}}</p>
            <p class="text-break">{{ event.description }}</p>
        </div>
        {% if event.photo %}
            <div class="col-5">
                <img src="{{ asset('uploads/photos/') ~ event.photo }}" class="img-fluid">
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

