{% macro renderComments(comments, eventID) %}
    {% for comment in comments %}
        <div class="card card-comment mb-2">
            <div class="card-header d-flex">
                {% if comment.user %}
                    <h5 class="m-0 mr-1">{{ comment.user.firstname }}</h5>
                    <span class="text-muted mr-1">({{ comment.user.username }})</span>
                {% else %}
                    <h5 class="m-0 mr-1">DELETED USER</h5>
                {% endif %}
                <span class="text-muted mr-auto">{{ comment.createdAt | ago }}</span>
                <span>
                    {% if app.user == comment.user or is_granted('ROLE_ADMIN') %}
                        <a class="text-primary ml-2"
                           href="{{ path('app_commentEdit', { 'commentID': comment.id, 'eventID': eventID }) }}">Edit</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="text-danger ml-2 js-delete-comm"
                           href="{{ path('app_commentDelete', { 'commentID': comment.id, 'eventID': eventID }) }}">Delete</a>
                    {% endif %}
                    <a class="text-secondary ml-2"
                       href="{{ path('app_commentReply', { 'eventID': eventID, 'commentID': comment.id }) }}">Reply</a>
                </span>
            </div>
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
            </div>
            {% if comment.replies | length > 0 %}
                <div class="card-body py-0">
                    {% import _self as comments %}
                    {{ comments.renderComments(comment.replies, eventID) }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}